@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}
img {
  object-fit: cover;
}
li {
  list-style: none;
}
.contentContainer {
  flex-grow: 1;
}

/* Home */

.item-title {
  border-bottom: 2px groove #384256;
  color: #d4d9e2;
}

/* Styles Import */
@import url("./styles/app.css");
@import url("./styles/adminDash.css");
@import url("./styles/home.css");
@import url("./styles/login.css");
@import url("./styles/register.css");
@import url("./styles/footer.css");
@import url("./styles/navbar.css");
@import url("./styles/errorPage.css");
@import url("./styles/sidebarMenu.css");
