.navbar {
  /* border-bottom: 2px groove #384256; */
  box-shadow: 0 5px 5px #384256;
  min-width: 100%;
}
.notify {
  position: absolute;
  top: -25%;
  right: -27%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: red;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
